{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="form-row mb-4 mt-4">
            <div class="col">
                <div class="card">

                    <div class="card-body">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        {{ form_widget(form) }}
                        <button class="btn btn-primary">Envoyer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}