{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="form-row mb-4 mt-4">
            <div class="col">
                <div class="card">

                    <div class="card-body">
                            {{ form_start(form, { attr: {novalidate: 'novalidate'} } ) }}

                        {{ form_widget(form)  }}
                            <button type="submit" class="btn btn-primary"><i class="fas fa-user-edit"></i>&nbsp;Modifier</button>
                            {{ form_end(form) }}<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-4">
            {{ include('account/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}