{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="col-6">
    <h1>Amatic SC regular </h1>
</div>

<div class="col-5">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quae asperiores aperiam quas, natus repudiandae vel quaerat, quisquam error autem ducimus. Officiis impedit quis nemo dolore saepe. Delectus, id quisquam!</p>
</div>

<div class="container">

<div class="col-1">

</div>

 <div class="col-8">
    <img src="../assets/image/becycle.jpg" alt="image velo" height="150%" width="150%">
</div>

<div class="col-1">

</div>

</div>



{% endblock %}
