.card-text{
    text-align: left;
}
.description{
    text-align: left;
}

.bike-logo{
    margin-right: 30px;
}
body{
    overflow-x: hidden;
}

::placeholder{
    font-size: 15px;
}

.product-card{
margin-bottom: 15px;
border-radius: 25px;
}

.product-card:hover{
    cursor: pointer;
    box-shadow: black 1px 5px 26px;
    color: black; 
    transition: 160ms;
}

.show-card-body{
    border: rgba(0, 0, 0, 0.3) 0.5px solid;
}

.container-show{
    margin-top: 50px; 
}

.access-pic{
    margin-top: 35px;
    border-radius: 10px;
}

.access-col{
    margin-top: 40px;
}

.licat{
    border: rgba(0, 0, 0, 0.3) 0.5px solid;
}

.category-link{
    font-family: 'Francois One', cursive;
    font-size: 21px ;
    color: #233D4D;}

.category-link:hover{
    font-family: 'Francois One', cursive;
    font-size: 21px ;
    text-shadow: 1px 1px 20px black;
    color: black; 
    transition: 0.6s;  
}

.pagination-lg{
    margin-top: 20px;
    margin-right: 60px;
}

.example .pagination>li{
  box-shadow: 1px 1px 15px black;
  border: 1px transparent;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color:#343a40;
    color:#D4E1E8;
    cursor: pointer;
    border: transparent 1px solid;
    z-index:2;
    
  }

  .example .pagination>li>a,
  .example .pagination>li>span,
  .example .pagination>li.disabled>span
   {
    border: #D4E1E8 1px solid;
    background-color: #343a40;
    color: #D4E1E8;
  }

  .example .pagination>li>span:hover{
      background-color: #233D4D;
  }
 
  .example .pagination>li.active>span{
      background-color: #D4E1E8;
      color: #051926;
      border: none;
      
  }
 

a:hover{
    text-decoration: none;
}

.list-group .list-group-item{
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    }

body {
    padding-top: 55px;
}

/* Home _ fade images */

#brand{
    font-family: 'Francois One', sans-serif;
   
   font-size: 20px;
  
}

/* Slider */
.slide {
height: 600px;
position: relative;

}

.slide1,.slide2,.slide3{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide1{
    background-image: url(../image/image-home-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade1 16s infinite;
}

.slide2{
    background-image: url(../image/image-home-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade2 16s infinite;
}

.slide3{
    background-image: url(../image/image-home-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade3 16s infinite;
}

@keyframes fade1
{
    0%
    {
    opacity: 1;
    }
    25%
    {
    opacity: 0;
    }
    75%
    {
    opacity: 0;
    }
    100%
    {
    opacity: 1; 
    }
}

@keyframes fade2
{
    0%
    {
    opacity: 0;
    }
    25%
    {
    opacity: 1;
    }
    75%
    {
    opacity: 0;
    }
    100%
    {
    opacity: 0; 
    }
}

@keyframes fade3
{
    0%
    {
    opacity: 0;
    }
    25%
    {
    opacity: 0;
    }
    75%
    {
    opacity: 1;
    }
    100%
    {
    opacity: 0; 
    }
}

/* Home _ textes */

h1 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Francois One', cursive;
    text-transform: uppercase;
    font-size: 26px;
}

h4 .card-link{
    font-family: 'Francois One', cursive;
    font-size: 21px ;
    color: #233D4D;
    border-block-end: rgba(7, 45, 64, 0.1) 4px solid;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

h4 .card-link:hover{
    font-family: 'Francois One', cursive;
    font-size: 21px ;
    text-shadow: 1px 1px 20px black;
    color: black; 
    transition: 0.6s;  
    border-block-end: rgba(7, 45, 64, 0.1) 5px solid;
    border-radius: 8px;
    padding: 0;
    margin: 0;
}

.main-logo{
border-radius: 7px;
opacity: 0.9;
box-shadow: black 1px 1px 100px;
height: 30px;
width: 38px;
}

p {
    text-align: justify;
    font-family: 'Comfortaa', cursive;
}
/* Bouton "haut de page" */
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #343a40;
    color: #D4E1E8;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: black 1px 1px 5px;
  }
  
  #myBtn:hover {
    background-color: #212529;
    box-shadow: black 1px 1px 13px;
    
  }

/* Navbar */

#scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: top 0.3s;
}
.nav-link{
    text-shadow: 1px 1px 23px black;
}

.nav-link:hover{
    text-shadow: 1px 3px 10px black;
    color: #D6FFF1;
    transition: 0.4s;
}

.active{
color: #68FAC8;
}

/* Show */

#show-zoom {
    padding-left: 15px;
    padding-right: 15px; 
    padding-bottom: 15px; 
}


/* Catégories */
#categories .list-group-item{
    padding: 20px 15px;
}

.bouton-categories {
    color: white;
}

.bouton-categories:hover {
    color:rgba(255, 255, 255, 0.8);
}

@media (min-width: 1200px){
    #categories .list-group-item{
        padding: 20px 30px;
    }
}