
#brand{
    font-family: 'Acme', sans-serif;
   
}

/* //Slider */
.slide {
height: 600px;
position: relative;

}

.slide1,.slide2,.slide3{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide1{
    background-image: url(../image/image-home-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade1 16s infinite;
}

.slide2{
    background-image: url(../image/image-home-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade2 16s infinite;
}

.slide3{
    background-image: url(../image/image-home-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade3 16s infinite;
}

@keyframes fade1
{
    0%
    {
    opacity: 1;
    }
    25%
    {
    opacity: 0;
    }
    75%
    {
    opacity: 0;
    }
    100%
    {
    opacity: 1; 
    }
}

@keyframes fade2
{
    0%
    {
    opacity: 0;
    }
    25%
    {
    opacity: 1;
    }
    75%
    {
    opacity: 0;
    }
    100%
    {
    opacity: 0; 
    }
}

@keyframes fade3
{
    0%
    {
    opacity: 0;
    }
    25%
    {
    opacity: 0;
    }
    75%
    {
    opacity: 1;
    }
    100%
    {
    opacity: 0; 
    }
}

/* Home _ textes */

h1 {
    text-align: center;
    margin-top: 30px;
    font-family: 'Francois One', cursive;
    text-transform: uppercase;
    font-size: 26px;
}

p {
    text-align: justify;
    font-family: 'Comfortaa', cursive;

    margin-left: 20%;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3B71B2;
    color: #D4E1E8;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.nav-link{
    text-shadow: 1px 1px 23px black;
}

.nav-link:hover{
    text-shadow: 1px 3px 10px black;
    color: #D6FFF1;
}

.active{
color: #68FAC8;
}
