<form method="post" action="{{ path('product_delete', {'id': product.id}) }}" onsubmit="return confirm('T\'es sur de vouloir supprimer ça ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="ml-5 btn btn-dark btn-lg text-uppercase">Delete</button>
</form>
