{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="alert alert-success text-center" role="alert" >
           Votre commande a bien été prise en compte.
        </div>
    </div>
{% endblock %}
